DB_HOST=localhost
DB_PORT=5432
DB_USER=teej4y
DB_PASSWORD=password
DB_NAME=netflakes
DB_URL="postgresql://root:secret@localhost:5432/netflakes?sslmode=disable"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password